:root {
  --BackgroundColor: rgb(50, 50, 50);
  --BackgroundColorLight: rgb(100, 100, 100);
  --BackgroundColorDark: rgb(25, 25, 25);

  --AccentColor1: rgb(255, 100, 0);
  --AccentColorLight1: rgb(255, 130, 0);
  --AccentColorDark1: rgb(240, 80, 0);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-width: 100%;
  min-height: 100%;

  font-family: Arial, Helvetica, sans-serif;

  scroll-behavior: smooth;
}

body {
  min-width: 100%;
  min-height: 100vh;

  display: grid;
  grid-template-rows: 0fr 1fr 0fr;

  background-image: url("Resources/Black-Triangle-Polygon-Background.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;

  color: white;
}

/*======================================== Begin Header ========================================*/

header {
  width: 100%;
  height: 400px;

  background-color: var(--BackgroundColorDark);
}

#HeaderContent {
  z-index: 999;
  top: 0px;
  width: 100%;
  height: 100px;

  background-color: inherit;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  border-bottom: 2px solid var(--AccentColor1);
}

.HeaderContentFixed {
  position: fixed;
}

#HeaderAvatarWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

#HeaderAvatar {
  height: 300px;
  width: auto;
  aspect-ratio: 1/1;

  border: 2px solid var(--AccentColor1);
  border-radius: 100%;
  overflow: hidden;
}

#HeaderTitle {
  padding-top: 20px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

#HeaderNavigation {
  display: flex;
  justify-content: center;
}

.HeaderNavItem {
  margin: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;

  text-decoration: none;
  color: inherit;
  font-weight: bold;

  border: 2px solid transparent;
}

.HeaderNavItem:hover {
  border-bottom-color: var(--AccentColor1);
}

/*======================================== End Header ========================================*/

/*======================================== Begin Footer ========================================*/
footer {
  height: 100px;

  border-top: 2px solid var(--AccentColor1);
  background-color: var(--BackgroundColorDark);

  display: flex;
  justify-content: center;
  align-items: center;
}
/*======================================== End Footer ========================================*/

section {
  padding-top: 200px;
}

main section:last-child {
  padding-bottom: 200px;
}

.SectionContent {
  width: 100%;

  background-color: var(--BackgroundColor);

  border-top: 2px solid var(--AccentColorDark1);
  border-bottom: 2px solid var(--AccentColorDark1);

  padding-left: 20%;
  padding-right: 20%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.SectionTitle {
  font-size: 25px;
  text-align: center;

  padding-top: 10px;
  padding-bottom: 10px;
}

/*======================================== Begin Projects ========================================*/

#ProjectList {
  width: 100%;

  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  padding-bottom: 30px;
}

.ProjectCardWrapper {
  padding: 10px;
}

.ProjectCard {
  width: 250px;
  height: 400px;

  background-color: var(--BackgroundColorLight);
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;

  box-shadow: 15px 15px 15px black;

  overflow: hidden;

  display: flex;
  flex-direction: column;
}

.ProjectCardTitle {
  margin-top: 20px;

  padding: 5px;

  background-color: var(--BackgroundColorDark);

  border-top: 1px solid var(--AccentColor1);
  border-bottom: 1px solid var(--AccentColor1);

  text-align: center;
}

.ProjectCardContent {
  height: 100%;

  padding: 10px;
}

.ProjectSourceLinkWrapper {
  display: flex;
  justify-content: center;

  padding-bottom: 10px;
}

.ProjectSourceLink {
  text-align: center;
  color: inherit;
  text-decoration: none;

  padding: 10px;

  border: 2px solid white;
}

.ProjectSourceLink:hover {
  color: var(--AccentColorDark1);
}

/*======================================== End Projects ========================================*/
